body{
    font: normal 16px Helvetica, Arial, sans-serif;
    background-color: #333;
    color: #f4f4f4;
    line-height: 1.4em;
    margin:0;
}

#main-header {
    padding: 8px;
    text-align: center;
    background-color:#000;
    color: #fff;
}

.nav-container {
    margin:auto;
    width:90%;
    overflow:hidden;
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
}

#navbar {
    background-color: #222;
}

#navbar ul{
    padding: 5px;
    list-style: none;    
}

#navbar li{
    display: inline;
}

#navbar a{
    color: #aaa;
    text-decoration: none;
    font-size: 18px;
    padding: 14px 16px;
}

.section-area {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    background-color: #1c1c1c;
    margin: 0px;
    padding: 20px;
}

.section-area a:visited{
    text-decoration: none;
    color: #fff;
}

.section-box {
    float: left;
    width: 20%;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px 20px;
    background-color: #1d1d1d;
    font-size: large;
}

.boxHeading {
    text-align: center;
}

#main-footer{
    text-align: center;
    position:relative;
    padding: 10px 0px;
    bottom: 8px;
    width: 100%;
    height: 2.5rem;
}